.product-page {
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px; 
    
  }
  
  .product-list > * {
    flex: 0 0 calc(25% - 20px); 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  

  