.product-page {
    
    background-color: #f9f9f9;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    gap: 20px; 
    justify-content: center;
    
  }
  
  .product-list > * {
    background-color: #fff;
    border-radius: 5px;
  }
  
  

  