.product-card {
  background: #F4F5F7;
  border: 1px solid #ddd;
  border-radius: 1%;
  text-align: left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 450px;

}

.product-card .product-image   {
  width: 100%;
  height: 65%;
  
  border-radius: 2px;
}

 

.price {
  color: #e63946;
  font-weight: bold;
}



.product-card-link {
  text-decoration: none;
  color: inherit; 
}

.product-card h3 {
  font-weight: bold; 
  margin: 10px 0; 
}

.product-card .product-card-details {
  padding: 15px;
  min-height: 150px;
}

.product-card .placeholder-box {
  width: 100%;
  height: 65%;
  background-color: #ddd;
}
.product-card-details h3 {
  margin-bottom: 2px;
 }

 .product-card-details p {
  min-height: 10px;
 }


.product-card-details h4{
  margin-top: auto;
}
