.update-product {
    top: 60px;
    right: 70px;
    background-color: white;
    border: 10px solid #ccc;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto ;
    width: 50%;
  }

  

  .update-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .update-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .update-title {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 22px;
    font-weight: bold;
  }

  .update-button {
    width: 20%;
    font-size: 16px;
  }