.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    
  }
  
  .logo  {
    font-size: 34px;
    font-weight: 700;
    color: #333;
    display: flex;
    align-items: flex-end;
    gap : 4px;
    line-height: 28px;

    
  }

  .logo img {
    height: 32px;
    width: 50px;
  }
  
  .header  ul {
    display: flex; 
    list-style: none; 
    align-items: center;
    padding: 0;
    margin: 0;
    gap : 60px;
    text-decoration: none; 
      
            
  }
  
  .header  li{
       
    font-size: 16px;
    color: #555;
    cursor: pointer;
    text-decoration: none; 
    font-weight: bold; 
    color: black;  
    
  }
  
  nav li:hover {
    color: #007bff; 
    
  }
  
  .icons {
    gap: 40px;
    display: flex;
    align-items: center;
  }
  