  
  
  .collections-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 300px;
    position: relative;
  } 
  
  .collections-page::before  {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    background-image:url("BackgroundImage/Background.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(1.5px);
    z-index: 1;
  }

  .collections-page h1 {
    z-index: 2;
  }
  
  .collections-page h3 {
    font-size: 1.4rem;
    color: #333;
    z-index: 2;
  }
  
  
   